#time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64.1vh;
  margin: 0;
}

#timer {
  font-size: 52px;
  font-weight: bold;
  color: black;
}

#sc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  color: rgb(7, 230, 7);
}
